<div class="row">
  <% itineraries.each do |itinerary| %>
    <div class="col-xl-4 col-lg-6 col-md-12 mb-3 pr-1">
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header">
          <% if itinerary.image? %>
            <%= link_to image_tag(itinerary.image.thumb250.url), itinerary, class: 'card-img-top' %>
          <% else %>
            <%= link_to image_tag("/images/no_image250.png"), itinerary, class: 'card-img-top' %>
          <% end %>
        </div>
        <div class="card-body pb-0">
          <p class="card-title"><%= link_to itinerary.title, itinerary %></p>
          <p class="card-date"><%= itinerary.start_date %>~<%= itinerary.end_date %></p>
          <p class="card-user"><%= link_to itinerary.user.name, user_path(id: itinerary.user_id) %></p>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @itineraries %>
</div>