<div class="text-center">
  <h1>しおりの更新</h1>
</div>

<div class="row">
  <div class="col-lg-6 offset-lg-3">

    <%= form_with(model: @itinerary, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :image, 'イメージ画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :start_date, '開始日' %>
        <%= f.date_field :start_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :end_date, '終了日' %>
        <%= f.date_field :end_date, class: 'form-control' %>
      </div>

      <%= f.submit '保存する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>