<% if logged_in? %>
  <% if correct_user_itinerary? %>
  
  <% #自分の作成したしおりの場合 %>
  
    <div class="row">
      <aside class="col-sm-3">
        <%= render 'itineraries/itinerary', itinerary: @itinerary %>
        <div class="text-center">
          <%= link_to '編集する', edit_itinerary_path, class:'btn btn-primary' %>
          <%= link_to '削除する', @itinerary, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class:'btn btn-primary' %>
          <%= render 'bookmarks/bookmark_button', itinerary: @itinerary %>
        </div>
      </aside>
      <div class="col-sm-9">
        <h4 class="itinerary-date"><%= @itinerary.start_date %>～<%= @itinerary.end_date %></h4>
        <%= render 'schedules/schedules', schedules: @itinerary.schedules %>
        <%= link_to 'スケジュールを追加', new_schedule_path(itinerary_id: @itinerary.id), class:'btn btn-primary btn-block' %>
      </div>
    </div>
  <% else %>
  
  <% #他ユーザの作成したしおりの場合 %>
  
    <div class="row">
      <aside class="col-sm-3">
        <%= render 'itineraries/itinerary', itinerary: @itinerary %>
        <div>
          <%= render 'bookmarks/bookmark_button', itinerary: @itinerary %>
        </div>
      </aside>
      <div class="col-sm-9">
        <h4 class="itinerary-date"><%= @itinerary.start_date %>～<%= @itinerary.end_date %></h4>
        <%= render 'schedules/schedules', schedules: @itinerary.schedules %>
      </div>
  <% end %>
<% else %>

<% #ログインしていない場合 %>

  <div class="row">
    <aside class="col-sm-3">
      <%= render 'itineraries/itinerary', itinerary: @itinerary %>
    </aside>
    <div class="col-sm-9">
      <h4 class="itinerary-date"><%= @itinerary.start_date %>～<%= @itinerary.end_date %></h4>
      <%= render 'schedules/schedules', schedules: @itinerary.schedules %>
    </div>
  </div>
<% end %>









