<% if logged_in? %>
  <% if correct_user_itinerary? %>
  
  <% #自分の作成したしおりの場合 %>
  
    <div class="row">
      <aside class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><%= @itinerary.title %></h5>
          </div>
          <div class="card-body">
            <% if @itinerary.image? %>
              <%= image_tag @itinerary.image.thumb300.url %>
            <% else %>
              <%= image_tag "" %>
            <% end %>
            <p><%= link_to @itinerary.user.name, user_path(id: @itinerary.user_id) %></p>
            <%= @itinerary.start_date %>～<%= @itinerary.end_date %>
          </div>
        </div>
        <div>
          <%= link_to '編集する', edit_itinerary_path, class:'btn btn-primary btn-block' %>
          <%= link_to '削除する', @itinerary, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class:'btn btn-primary btn-block' %>
          <%= render 'bookmarks/bookmark_button', itinerary: @itinerary %>
        </div>
      </aside>
      <div class="col-sm-8">
        <%= @itinerary.start_date %>～<%= @itinerary.end_date %>
        
        <% #Schedulesのrender %>
        <%= render 'schedules/schedules', schedules: @itinerary.schedules %>
        <%= link_to 'スケジュールを追加', new_schedule_path(itinerary_id: @itinerary.id), class:'btn btn-primary btn-block' %>
      </div>
    </div>
  <% else %>
  
  <% #他ユーザの作成したしおりの場合 %>
  
    <div class="row">
      <aside class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><%= @itinerary.title %></h5>
          </div>
          <div class="card-body">
            <img class="rounded img-fluid" src="" alt="">
            <p><%= link_to @itinerary.user.name, user_path(id: @itinerary.user_id) %></p>
            <%= @itinerary.start_date %>～<%= @itinerary.end_date %>
          </div>
          <div>
            <%= render 'bookmarks/bookmark_button', itinerary: @itinerary %>
          </div>
        </div>
      </aside>
      <div class="col-sm-8">
        <%= @itinerary.start_date %>～<%= @itinerary.end_date %>
        
        <% #Schedulesのrender %>
        
        <%= render 'schedules/schedules', schedules: @itinerary.schedules %>
  <% end %>
<% else %>

<% #ログインしていない場合 %>

  <div class="row">
        <aside class="col-sm-4">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title"><%= @itinerary.title %></h5>
            </div>
            <div class="card-body">
              <img class="rounded img-fluid" src="" alt="">
              <p><%= link_to @itinerary.user.name, user_path(id: @itinerary.user_id) %></p>
              <%= @itinerary.start_date %>～<%= @itinerary.end_date %>
            </div>
          </div>
        </aside>
        <div class="col-sm-8">
          <%= @itinerary.start_date %>～<%= @itinerary.end_date %>
          <% #Schedulesのrender %>
          <%= render 'schedules/schedules', schedules: @itinerary.schedules %>
        </div>
      </div>
<% end %>









