<% if logged_in? %>
  <% if current_user.id == @user.id %>
  
  <% #自分のユーザページ %>
  
    <div class="row">
      <%= render 'users/user_icon', user: @user %>
      <div class="col-sm-8 col-lg-10">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">自分のしおり  <span class="badge badge-secondary"><%= @count_itineraries %></span></a></li>
          <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">ブックマーク  <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
          <li class="nav-item"><%= link_to 'プロフィールを編集', edit_user_path, class: 'nav-link' %></li>
        </ul>
        <%= render 'itineraries/itineraries', itineraries: @itineraries %>
      </div>
    </div>
    
  <% else %>
  
  <% #他人のユーザページ %>

    <div class="row">
      <%= render 'users/user_icon', user: @user %>
      <div class="col-sm-8 col-lg-10">
        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item">作成したしおり  <span class="badge badge-secondary"><%= @count_itineraries %></span></li>
        </ul>
        <%= render 'itineraries/itineraries', itineraries: @itineraries %>
      </div>
    </div>
  
  <% end %>
<% else %>

<% #ログインしていない場合 %>

  <div class="row">
    <%= render 'users/user_icon', user: @user %>
    <div class="col-sm-8 col-lg-10">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item">作成したしおり  <span class="badge badge-secondary"><%= @count_itineraries %></span></li>
      </ul>
      <%= render 'itineraries/itineraries', itineraries: @itineraries %>
    </div>
  </div>

<% end %>