<div class="text-center">
  <h1>スケジュール詳細</h1>
</div>

<% if logged_in? %>
  <% if correct_user_schedule? %>
    
    <% #自分の作成したしおりのスケジュールの場合 %>
    
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <%= render 'schedules/schedule', schedule: @schedule %>
        <%= link_to '編集する', edit_schedule_path, class:'btn btn-primary text' %>
        <%= link_to '削除する', @schedule, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class:'btn btn-primary' %>
      </div>
    </div>
    
  <% else %>
    
    <% #他ユーザの作成したしおりのスケジュールの場合 %>
    
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <%= render 'schedules/schedule', schedule: @schedule %>
      </div>
    </div>
    
  <% end %>
<% else %>

<% #ログインしていない場合 %>

  <div class="row">
    <div class="col-lg-10 offset-lg-2">
      <%= render 'schedules/schedule', schedule: @schedule %>
    </div>
  </div>

<% end %>