<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <p><%= link_to 'みんなのしおり', root_path %></p>
      <p><%= link_to '自分のしおり', user_path(current_user) %></p>
      <p><%= link_to 'ブックマーク', likes_user_path(current_user) %></p>
      <p><%= link_to 'しおり作成', new_itinerary_path %></p>
      <p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
    </aside>
    <div class="col-sm-8">
      <%= render 'itineraries/itineraries', itineraries: @itineraries %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Travel_Itinerary</h1>
      <%= link_to 'ユーザ登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="row">
     <aside class="col-sm-4">
     <p><%= link_to 'みんなのしおり', root_path %></p>
     <p><%= link_to 'ユーザ登録', signup_path %></p>
     <p><%= link_to 'ログイン', login_path %></p>
     </aside>
   <div class="col-sm-8">
     <%= render 'itineraries/itineraries', itineraries: @itineraries %>
   </div>
<% end %>