<% if logged_in? %>
  <aside class="col-sm-4 col-lg-2">
    <div class="nav nav-pills nav-stacked text-center">
      <p class="nav-link active"><span class="fas fa-clipboard-list"></span> <%= link_to 'しおり一覧', root_path %></p>
      <p class="nav-link"><span class="fas fa-search"></span> <%= link_to 'しおりを検索', search_path %></p>
      <p class="nav-link"><span class="fas fa-user"></span> <%= link_to '自分のしおり', user_path(current_user) %></p>
      <p class="nav-link"><span class="fas fa-bookmark"></span> <%= link_to 'ブックマーク', likes_user_path(current_user) %></p>
      <p class="nav-link"><span class="fas fa-plus-circle"></span> <%= link_to 'しおり作成', new_itinerary_path %></p>
      <p class="nav-link"><span class="fas fa-sign-out-alt"></span> <%= link_to 'ログアウト', logout_path, method: :delete %></p>
    </div>
  </aside>
<% else %>
  <aside class="col-sm-4 col-lg-2">
    <div class="nav nav-pills nav-stacked text-center sidebar">
      <p class="nav-link active active-nav"><span class="fas fa-clipboard-list"></span> <%= link_to 'しおり一覧', root_path %></p>
      <p class="nav-link"><span class="fas fa-search"></span> <%= link_to 'しおりを検索', search_path %></p>
      <p class="nav-link"><span class="fas fa-user-plus"></span> <%= link_to 'ユーザ登録', signup_path %></p>
      <p class="nav-link"><span class="fas fa-sign-in-alt"></span> <%= link_to 'ログイン', login_path %></p>
    </div>
  </aside>
<% end %>